DB_USER=student
DB_PASSWORD=student_secure_password
DB_NAME=wp_labs
MONGO_URI=mongodb://student:student_secure_password@mongo:27017/wp_labs?authSource=admin
PORT=4200
JWT_ACCESS_SECRET=super_secret_access_key_change_in_prod
JWT_REFRESH_SECRET=super_secret_refresh_key_change_in_prod
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

CLIENT_ID=your_yandex_client_id
CLIENT_SECRET=your_yandex_client_secret
CALLBACK_URL=http://localhost:4200/auth/oauth/yandex/callback

# development — Swagger UI available at /api/docs
# production  — Swagger UI disabled (404)
APP_ENV=development

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_secure_password_change_in_prod
CACHE_TTL_DEFAULT=300
